/* --- Reinit --- */
h1, p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* --- Base --- */
body {
    background-color: white;
}

.break{
    border: 1px solid #EB9230;
}
header {
    text-align: right;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #EB9230;
}

main {
    padding-top: 60px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15%;
    padding-left: 15%;
    color: #e7511e;
    text-align: center;
    font-size: 2em;
}
.vent p {
    margin-top: 20px;
}
p {
    color: black;
    padding: 15px;
}

.expli {
    margin-bottom: 10px;
}

/* --- Choice --- */
.choice_1{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 45%;
    margin-left: 3%;
}
.choice_1 p{
    text-align: center;
}
.choice_2 p{
    text-align: center;
}
.sep_vert{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 3px;
    height: 35px;
    background-color: #EB9230;
    margin-top: 15px;
}
.choice_2{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 45%;
    margin-right: 3%;
}
.sep_oriz_1{
    border-bottom: 3px solid #EB9230;
    width: 32%;
    margin-left: 10%;
}
.sep_oriz_2{
    border-bottom: 3px solid #EB9230;
    width: 32%;
    margin-left: 57%;
}


/* --- Header --- */
.icon_princip {
    width: 200px;
    margin: 5px;
    margin-top: 20px;
    height: 50%;
    position: absolute;
    top: 0px;
    left: 13px;
}

.icon_second {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 60px;
    height: 100%;
}

/* --- Categorie --- */
.categorie {
    text-align: center;
    width: 84%;
    margin-left: 7%;
    margin-top: 40px;
}

.categorie p {
    padding: 2%;
}

/* --- Buton --- */
button {
    background-color: #e7511e;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: 100px;
    border: none;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 25px;
}

/* --- Footer--- */
footer {
    background-color: #111A1C;
}

footer {
    width: 100%;
    height: auto;
}

footer > a {
    text-decoration: none;
}

footer > p {
    display: inline-block;
    width: 60%;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.resalF {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
}

.resal {
    box-sizing: border-box;
    float: right;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
/* --- Panier --- */
.e_histo{
    background-color: white;
    width: 90%;
    margin: 5%;
    padding-bottom: 5px;
}
.col1{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col2{
    text-align: center;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col2 p{
    padding: 0;
    padding-top: 2px;
}
.col3{
    margin-left: 5%;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.img_histo{
    margin-top: 15px;
    margin-right: 5%;
    margin-left:5%;
    width: 90%;
    height: 50px;
    background-color: white;
}
.smal{
    padding: 0;
    padding-left: 15px;
    padding-top: 2px;
}
.big{
    padding: 0;
    padding-left: 15px;
    padding-top: 8px;
    text-align: center;
}
.bigp{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.pprix{
    text-align: left;
    padding-left: 0;
    padding-top: 20px;
}
.prix{
    text-align: left;
    font-size: 1.4em;
}
/* --- finalisation commande --- */
.com_end{
    position: relative;
    bottom: 0;
    background-color: #EB9230;
    width: 100%;
    height: auto;
}
.col4{
    width: 34%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col5{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col5a p{
    padding: 0;
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;

}
.col5a{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col6{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.col5 p{
    padding: 0;
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;

}
.col5 p:last-of-type{
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #EB9230;
    color: white;
    text-align: center;
}
.col4 p{
    color: white;
    font-size: 1.4em;
    padding-right:10px ;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.col6 button{
    margin-top: 30px;
    height: 40px;
    font-size: 1em;
}
/* --- Choix date --- */

.date{
    background-color: white;
    margin-top: 30px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 80%;
    margin-left: 10%;
}
.col7{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 28%;
}
.col8{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 40%;
}
.col8 p{
    text-align: center;
}
.col9{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 28%;
}
/* --- Reaprovision --- */
.reap{
    background-color: white;
    margin-top: 20px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
}
.col10{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 69%;
    text-align: center;
}
.col10 p{
    padding: 4px;
}
.img_reap{
    display: inline-block;
    width: 80%;
    margin: 5px;
    margin-left: 10%;
    height: 60px;
    border: 1px solid #e7511e;
}
.col11{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 29%;
}
.col11 p{
    padding: 8px;
}
.col11 p:first-of-type{
    font-size: 1em;
}
.col11 p:last-of-type{
font-size: 1.2em;
    padding: 5px;
}

/* --- Commande --- */

.commande{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 84%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 8%;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e7511e;
}
.commande p{
    padding: 10px;
}
.col12{
    background-color: gray;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 59%;
    text-align: left;
    margin-bottom: 10px;
}
.col12 p{
    color: white;
}
.col13{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 39%;

}
.col13 p {
    background-color: grey;
    color: white;
    padding: 7px;
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;

}
.p1{
    padding: 3px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 59%;}
.p2{
    padding: 3px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 39%;
}
.break_2{
    border: 1px solid #EB9230;
    margin-bottom: 5px;
    margin-left: 4%;
    width: 90%;
}
.break_3{
    margin-left: 15%;
    border: 1px solid #EB9230;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 70%;
}
/* --- Produits --- */
.prod{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}
.col14{
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 18%;
}
.col15 {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    width: 59%;

}
.col15i{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    width: 59%;
    margin-left: 20%;
}
.col15 p{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 40%;
    padding: 0;
}
.col15 p:first-of-type{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 40%;

    padding-left: 10px;
}
.img_prod {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
    width: 90%;
    margin: 15px;
    height: 50px;
}
.info{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 20px;
    height: 20px;
}
.info p{
    padding: 0;
}
.col16{
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 18%;
}
.col14 p {
    padding-top: 40px;
}
.col16 p{
    padding-top: 40px;
}
/* --- Produits --- */
.admin button{
    text-decoration: none;
    color: white;
    background-color: #EB9230;
    padding: 10px;
    padding-top: 8px;
    margin-top: 25px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}
/* --- Formulaire --- */
form{
    padding-top: 20px;
    text-align: center;
}
form p {
    padding: 0;
}
label{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    width: 93%;
    padding-top: 5px;
    margin: 10px;
    margin-bottom: 0;
}
input{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    width: 93%;
    border:1px solid #e7511e;
}
.input{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #EB9230;
    margin: 10px;
    margin-top: 15px;
    width: 50%;
    border:none;
}
.fleches{
    padding-top: 20px;
}
.img_test{

    margin: 5px;
    width: 60px;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
.none{
    display: ;
}