
i{
    cursor:pointer;
}

.bordure {border:1px solid black; background-color:#F9F9F9; text-align:center; height:150px;}
.centree{text-align: center;}
.titre{text-align: center;}
.imageSmall{
    margin:0 auto;
    width:100px;
}
.hauteur{
    height:100%;

    padding:5px;

}
.libelle{
    text-align:left;
    font-weight: bold;
}
.listeCase{
    margin-right:10px;
}
.specialite{
    color:blue;
}
#video_background{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
