<div class="panel panel-default col-md-9 col-sm-9 col-xs-12">
<div class="panel-heading">
    <strong>Liste des Sandwitchs</strong>
    <a href="index.php?page=newProduit" class="pull-right">
        <span  title="Créer un participant">
            <i class="fa fa-plus fa-lg" ></i>
        </span>
    </a>
</div>
<div class="panel-body">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Desc</td>
                <td>Prix</td>
                <td>Images</td>
                <td>Type</td>

                <td class="centree">Actions</td>
            </tr>
        </thead>
        <tbody>

        <?php for ($i = 0; $i < count($liste); $i++) { $Produits = $liste[$i]; ?>
            <tr>
                <td><?php echo $Produits->getId(); ?> </td>
                <td><?php echo $Produits->getNom(); ?> </td>
                <td><?php echo $Produits->getDesc(); ?> </td>
                <td><?php echo $Produits->getPrix(); ?></td>
                <td><?php echo $Produits->getImage(); ?></td>
                <td><?php echo $Produits->getType(); ?></td>
                <td class="centree">
                    <span title="supprimable">
                       <a href="index.php?page=suppProduit&id=<?php echo$Produits->getId(); ?>" >
                        <i class="fa fa-times fa-lg" ></i>
                        </a>
                    </span>
                    <span  title="Modifier le produit">
                        <a href="index.php?page=modificationProduit&id=<?php echo$Produits->getId();?>" >
                            <i class="fa fa-edit fa-lg" ></i>
                        </a>
                    </span>
                </td>
            </tr>
        <?php } ?>



        </tbody>
    </table>
</div>

<div class="panel-footer">
</div>
</div>