    <div id="choice">
        <div class="choice_1"> <a href="index.php?page=stock"><p>Stock</p></a></div>
        <div class="sep_vert"><p></p></div>
        <div class="choice_2"><a href="index.php?page=commande"><p>Commande</p></a></div>
    </div>
    <div class="sep_oriz_2"></div>
    <div class="date">
        <div class="col7"><p>gauche</p></div>
        <div class="col8"><p>26/98</p></div>
        <div class="col9"><p>droite</p></div>
    </div>
    <div class="commande">
        <p>Commande T456</p>
        <div class="col12"><p class="p1">Produit</p><p class="p2">Qte</p><div class="break_2"></div><p class="p1">Grilladin</p><p class="p2">1</p><p class="p1">Frite</p><p class="p2">2</p> </div>
        <div class="col13"><p>Prix 2€</p><P>Valider</P></div>
    </div>