
<div id="choice">
        <div class="choice_1"> <a href="index.php?page=connexion"><p>Connexion</p></a></div>
        <div class="sep_vert"><p></p></div>
        <div class="choice_2"><a href="index.php?page=creation_compte"><p>Création de compte</p></a></div>
</div>
    <div class="sep_oriz_1"></div>
    <form method="post" action="">
        <p>
            <label for="pseudo">Votre pseudo&nbsp;:</label>
            <input type="text" name="pseudo" id="pseudo" size="30" maxlength="10" />
        </p>
        <p>
            <label for="password">Mot de passe&nbsp;:</label>
            <input type="text" name="password" id="password" />
        </p>
        <p>
            <input type="submit" value="Envoyer" class="input"/>
        </p>
    </form>
