<h1 class="center">Contacter-nous</h1>
    <div class="content"><!-- @whitespace
     --><div class="cola1">
            <img src="images/Alban_Pierson.jpeg" alt="photo Alban"/>
    </div><!-- @whitespace
     --><div class="cola2">
            <h2>Developpeur</h2>
            <div class="colb">
                <p>Pierson<br>Alban</p>
                <p><a HREF="mailto:pro.pierson.alban@gmail.com">Mail</a></p>
            </div><!-- @whitespace
     --><div class="colb resalc">
        <div class="circle"><a href="https://www.facebook.com/alban.pierson.5"><img src="images/icones/facebook-f.svg" width="50px" height="50px" alt="logo facebook Alban"></a></div>
        <div class="circle"><a href="https://www.linkedin.com/in/alban-pierson-853242140/"><img src="images/icones/linkedin-square.svg" width="50px" height="50px" alt="logo linkedin Alban"></a></div>
            </div>
        </div><!-- @whitespace
--></div>
    <div class="content"><!-- @whitespace
     --><div class="cola1">
        <img src="images/Etienne_querry.jpeg" height="960" width="960" alt="photo etienne"/></div><!-- @whitespace
     --><div class="cola2">
        <h2>Communication</h2>
        <div class="colb">
            <p>Querry<br>Etienne</p>
            <p><a HREF="mailto:esohc.eti@gmail.com">Mail</a></p>
        </div><!-- @whitespace
     --><div class="colb resalc">
        <div class="circle"><a href="https://www.facebook.com/Esohc?fref=ts"><img src="images/icones/facebook-f.svg" width="50px" height="50px" alt="logo facebook Etienne"></a></div>
        <div class="circle"><a href="https://www.linkedin.com/in/etienne-querry-292614132/"><img src="images/icones/linkedin-square.svg" width="50px" height="50px"alt="logo linkedin Etienne"></a></div>
    </div>
    </div><!-- @whitespace
--></div>    <div class="content"><!-- @whitespace
     --><div class="cola1">
    <img src="images/lt.jpeg" alt="photo de laurinne">
</div><!-- @whitespace
     --><div class="cola2">
    <h2>Graphisme</h2>
    <div class="colb">
        <p>Laurine<br>Thiebaut</p>
        <p><a HREF="mailto:thieb.laurine@gmail.com">Mail</a></p>
    </div><!-- @whitespace
     --><div class="colb resalc">
    <div class="circle"><a href="https://www.facebook.com/laurine.thiebaut.1213?fref=ts"><img src="images/icones/facebook-f.svg" width="50px" height="50px" alt="logo facebook Laurine"></a></div>
    <div class="circle"><a href="https://www.linkedin.com/in/laurine-thiebaut-24056912a/"><img src="images/icones/linkedin-square.svg" width="50px" height="50px" alt="logo linkedin Laurine"></a></div>
</div>
</div><!-- @whitespace
--></div>
