<h1>Passez Commande&nbsp;!</h1>
<p class="expli">
    Terminés les temps d’attente au moment du déjeuner. Choisissez, réservez et réglez votre repas facilement et
    rapidement à l’avance avant d’aller le récupérer à votre cafétéria universitaire.
</p>
<div class="class_prod">
    <a href="index.php?page=sandwitch">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/SandwichColor.svg">
            <p>Les Sandwitchs</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=paninis">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/PaniniColor.svg">
            <p>Paninis</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=desert">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/Dessert.svg">
            <p>Desserts</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=autre">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/Autres.svg">
            <p>Autres</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=plat_froid">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/Salades.svg">
            <p>Plats Froids</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=sauces">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/Sauces2.svg">
            <p>Sauces</p>
        </div>
    </a>
    <div class="break_3"></div>
    <a href="index.php?page=boissons">
        <div class="categorie ">
            <img class="img_test" src="images/icones/produits/Boisson.svg">
            <p>Boissons</p>
        </div>
    </a>
</div>
<div class="break_3"></div>
<a href="index.php?page=prenium"><button> Devenez Prenium&nbsp;!</button></a>
<div class="vent">
    <p>Optez pour notre abonnement premium afin de pouvoir consommer votre repas au tarif de la cafétéria sans payer de
        supplément pour la commande en ligne. Au prix de 2€ par mois, les clients assidus de la cafétéria ne pourront
        plus s’en passer, alors n’attendez plus !
    </p></div>
