    <div id="choice">
        <div class="choice_1"> <a href="index.php?page=stock"><p>Stock</p></a></div>
        <div class="sep_vert"><p></p></div>
        <div class="choice_2"><a href="index.php?page=commande"><p>Commande</p></a></div>
    </div>
    <div class="sep_oriz_1"></div>
    <div class="date">
        <div class="col7"><p>gauche</p></div>
        <div class="col8"><p>26/98</p></div>
        <div class="col9"><p>droite</p></div>
    </div>
    <div class="reap">
        <div class="col10"><img class="img_reap" src="images/icones/PaniniColor.svg"><p>Grilladin</p></div>
        <div class="col11"><p>Nombre de Prouits&nbsp;:</p><P>15</P></div>
    </div>
    <div class="break_3"></div>