
    <h1 class="center">Qui sommes-nous ?</h1>
      <section>
<input class="animate" type="radio" name="question" id="q1"/>
<label class="animate" for="q1">Qui sommes-nous ?</label>
<p class="response animate">Nous formons une équipe composée de 3 étudiants du département MMI de Montbéliard et nous sommes les créateurs du service Fast’Cafet. Si vous souhaitez nous contacter ou en savoir plus sur nous, nous vous invitons à venir par ici.</p>

<input class="animate" type="radio" name="question" id="q2"/>
<label class="animate" for="q2">Comment est né ce projet ?</label>
<p class="response animate">Fast’Cafet découle d’une idée de service innovant imaginé par des étudiants du département MMI de Montbéliard. Le concept original a été pensé durant un exercice dans le cadre d’un projet collectif au sein du département.</p>

<input class="animate" type="radio" name="question" id="q3"/>
<label class="animate" for="q3">Comment cela fonctionne ?</label>
<p class="response animate">Tout d’abord nous vérifierons votre compte via votre adresse mail universitaire. Une fois cela effectué, vous pourrez commencer à commander votre repas comme bon vous semble. Votre commande est entièrement personnalisable selon vos envies et selon la disponibilité des produits (qui sera indiquée). Une fois cela fait, vous pourrez choisir la date ainsi qu’une plage horaire de retrait de votre commande.</p>

<input class="animate" type="radio" name="question" id="q4"/>
<label class="animate" for="q4">Quels sont les moyens de paiement disponibles ?</label>
<p class="response animate">Le site propose un paiement en ligne ainsi qu’un paiement sur place. Si vous choisissez de régler sur place, alors cela s’effectuera de façon classique via votre carte étudiante lors du retrait de votre commande. Si vous optez plutôt pour le service de paiement en ligne, cela s’effectuera via un système de paiement Paypal (ne nécessitant pas un compte). Nous tentons actuellement d’effectuer un partenariat avec la l’organisation S-money afin de pouvoir directement être débité sur votre compte Izly.</p>
      </section>
